@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="title">
        <h1 class="fw-semibold">Welcome to My Blog</h1>
        <div class="tenor-gif-embed" data-postid="17947975675570061849" data-share-method="host" data-aspect-ratio="1.44767" data-width="100%"><a href="https://tenor.com/view/welcome-gif-17947975675570061849">Welcome GIF</a>from <a href="https://tenor.com/search/welcome-gifs">Welcome GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
</div>
